header {
    padding: 0.5rem;
    background-color: #306C95;  
    justify-content: center;
    p {
        color: #fff; 
        margin-bottom: 0;
    }
} 
.button-placeholder {
    margin-top: 1rem;
}