.addBtn {
    background-color: #306C95;
    color: #fff; 
    border-radius: 0; 
    margin-bottom: 1rem;
    &::before {
        content: '+  ';
    } 
    &:hover{
        color: #fff;
        opacity: 0.9;
    }
}